.post_btn {
  width: 100%;
  text-align: center;
  height: auto;
  font-weight: lighter;
  font-size: 1rem;
  text-transform: lowercase;
  justify-content: center;
  padding: 0.6rem 1rem;
  background: #ef533d;
  outline: none;
  border: none;
  display: flex;
  margin: auto;
  margin-top: 20px;
  letter-spacing: 1px;
}

.post_btn:hover {
  cursor: pointer;
  background-color: #da4a37;
}
